# requirements.txt
# Diese Datei listet alle für das Projekt notwendigen Python-Pakete auf.
# Führe "pip install -r requirements.txt" in deiner virtuellen Umgebung aus.

# Kernbibliotheken für Machine Learning
transformers
datasets
accelerate # Optimiert das Training mit dem Hugging Face Trainer

# Das primäre Deep-Learning-Framework (für GPU-Training erforderlich)
# HINWEIS: Für GPU-Support muss PyTorch mit CUDA installiert werden.
# Deinstalliere zuerst altes torch und installiere die korrekte Version von:
# https://pytorch.org/get-started/locally/
torch
torchvision
torchaudio

# Für die Datenanalyse und interaktive Entwicklung
pandas # Notwendig für das analyze_csv.py Skript
jupyterlab # Optional, für die Entwicklung in Jupyter Notebooks

# Optionale Pakete für alternative Funktionen (z.B. TensorBoard)
tensorflow # Optional, falls TensorBoard-Logging wieder aktiviert wird
tf-keras   # Optional, wird als Abhängigkeit von tensorflow benötigt
# kaggle # Optional wird benötigt um die Trainingsdatensätze von kaggle herunterzuladenfalls ein API schlüssel vorhanden ist

# Erforderlich für die Übersetzungskomponente:
pandas
torch
transformers
tqdm
sentencepiece